---
Checks:
  - clang-diagnostic-*
  - clang-analyzer-*
  - readability-identifier-naming

WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*[\\/])(Src|Tests|Tools)[\\/].*'
ExcludeHeaderFilterRegex: '(^|.*[\\/])(Vendor|Archive|build|install)[\\/].*'
FormatStyle: none
SystemHeaders: false

CheckOptions:
  readability-identifier-naming.AggressiveDependentMemberLookup: 'false'
  readability-identifier-naming.CheckAnonFieldInParent: 'false'
  readability-identifier-naming.GetConfigPerFile: 'true'
  readability-identifier-naming.IgnoreFailedSplit: 'false'
  readability-identifier-naming.IgnoreMainLikeFunctions: 'true'

  readability-identifier-naming.NamespaceCase: CamelCase

  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase

  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MethodCase: CamelCase

  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack

  readability-identifier-naming.GlobalVariablePrefix: 'g_'
  readability-identifier-naming.GlobalVariableCase: CamelCase
  readability-identifier-naming.StaticVariablePrefix: 's_'
  readability-identifier-naming.StaticVariableCase: CamelCase
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.PrivateMemberCase: CamelCase
  readability-identifier-naming.ProtectedMemberPrefix: 'm_'
  readability-identifier-naming.ProtectedMemberCase: CamelCase

  readability-identifier-naming.ConstantPrefix: 'k_'
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: 'k_'
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.LocalConstantPrefix: 'k_'
  readability-identifier-naming.LocalConstantCase: CamelCase
  readability-identifier-naming.StaticConstantPrefix: 'k_'
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.ClassConstantPrefix: 'k_'
  readability-identifier-naming.ClassConstantCase: CamelCase
...
